/* soluzione primo esercizio */

.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/* soluzione secondo esercizio */

.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}
