/* soluzione primo esercizio */

.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/* soluzione secondo esercizio */

.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* soluzione terzo esercizio */

.ex-3-square {
    transition: border-radius 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* soluzione quarto esercizio */

.ex-4-square {
    transition: opacity 2s;
}

.ex-4-square:hover {
    opacity: 0;
}
